[Unit]
Description=Cellarium Pockets
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=%h/bin/pockets
Restart=on-failure
RestartSec=5

Environment=DATABASE_URL=postgres://localhost:5432/cellarium?sslmode=disable
Environment=LISTEN_ADDR=:8083

[Install]
WantedBy=default.target
